#main-outlet {
  .ace_gutter {
    background: #25282c;
    color: #c5c8c6;
  }

  .ace_print-margin {
    width: 1px;
    background: #25282c;
  }

  .ace-chrome {
    background-color: #1d1f21;
    color: #c5c8c6;
  }

  .ace_cursor {
    color: #aeafad;
  }

  .ace_marker-layer .ace_selection {
    background: #373b41;
  }

  .ace-tomorrow-night.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0 #1d1f21;
  }

  .ace_marker-layer .ace_step {
    background: rgb(102, 82, 0);
  }

  .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid #4b4e55;
  }

  .ace_marker-layer .ace_active-line {
    background: #282a2e;
  }

  .ace_gutter-active-line {
    background-color: #282a2e;
  }

  .ace_marker-layer .ace_selected-word {
    border: 1px solid #373b41;
  }

  .ace_invisible {
    color: #4b4e55;
  }

  .ace_keyword,
  .ace_meta,
  .ace_storage,
  .ace_storage.ace_type,
  .ace_support.ace_type {
    color: #b294bb;
  }

  .ace_keyword.ace_operator {
    color: #8abeb7;
  }

  .ace_constant.ace_character,
  .ace_constant.ace_language,
  .ace_constant.ace_numeric,
  .ace_keyword.ace_other.ace_unit,
  .ace_support.ace_constant,
  .ace_variable.ace_parameter {
    color: #de935f;
  }

  .ace_constant.ace_other {
    color: #ced1cf;
  }

  .ace_invalid {
    color: #ced2cf;
    background-color: #df5f5f;
  }

  .ace_invalid.ace_deprecated {
    color: #ced2cf;
    background-color: #b798bf;
  }

  .ace_fold {
    background-color: #81a2be;
    border-color: #c5c8c6;
  }

  .ace_entity.ace_name.ace_function,
  .ace_support.ace_function,
  .ace_variable {
    color: #81a2be;
  }

  .ace_support.ace_class,
  .ace_support.ace_type {
    color: #f0c674;
  }

  .ace_heading,
  .ace_markup.ace_heading,
  .ace_string {
    color: #b5bd68;
  }

  .ace_entity.ace_name.ace_tag,
  .ace_entity.ace_other.ace_attribute-name,
  .ace_meta.ace_tag,
  .ace_string.ace_regexp,
  .ace_variable {
    color: #c66;
  }

  .ace_comment {
    color: #969896;
  }

  .ace_indent-guide {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHB3d/8PAAOIAdULw8qMAAAAAElFTkSuQmCC")
      right repeat-y;
  }
}
